
body, h1, ul, li {
    margin: 0;
    padding: 0;
    text-align:center;

}
h1{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 49%, rgba(0,212,255,1) 100%);
    color: white;
    font-size: 50px;
}


body{
background: rgb(131,58,180);
background: #16BFFD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #CB3066, #16BFFD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #CB3066, #16BFFD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

nav ul {
    list-style: none;
    text-align: center; 
}


nav li {
    display: inline-block;
    width: 23%; 
    margin: 1%; 
}


nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    border: 1px solid #3498db;

    color: #2c3e50; 
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(158,52,147,1) 43%, rgba(107,29,253,1) 71%);
    font-size: 20px;
    border-radius: 8px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


nav a:hover {
    background-color: #bdc3c7;
}


.carka{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 12px;
    padding: 5px;
}
p{
    color: white;

}
h2{
    color: white;

}

/**/
.bn5 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(158,52,147,1) 43%, rgba(107,29,253,1) 71%);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }
  
  .bn5:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(10px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowingbn5 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .bn5:active {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(158,52,147,1) 43%, rgba(107,29,253,1) 71%);
  }
  
  .bn5:active:after {
    background: transparent;
  }
  
  .bn5:hover:before {
    opacity: 100;
  }
  
  .bn5:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #191919;
    left: 0;
    top: 0;
    border-radius: 10px;
  }